<div class="row justify-content-center">
  <!-- <h2 style="text-align: center; padding: 3px;">Gestione file IFS</h2> -->
  <h2 class="text-center m-0">Gestione file IFS</h2>
  <div class="container small">
    <div class="row row-cols-auto justify-content-center mt-1">
      <h6>
        Parametri di ricerca
      </h6>
    </div>

    <form #jobListFileForm="ngForm" (ngSubmit)="listFiles()">
      <div class="row row-cols-auto justify-content-center">
        <div class="col">
          <span class="gf_label">Directory</span>
          <div class="input-group input-group-sm mb-2" style="width: 400px;">
            <input #filter_directory type="text" id="filter_directory" name="filter_directory"
              class="form-control border-end-0 border shadow-none mt-0" [(ngModel)]="ifsManagerSearchParams.directory"
              data-toggle="tooltip" data-placement="top" title="Directory">
            <span class="input-group-text bg-transparent">
              <i class="bi bi-folder" title="Specificare la directory"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <span class="gf_label">Nome file da elencare</span>
          <div class="input-group input-group-sm mb-2" style="width: 200px;">
            <input #filter_filepattern type="text" id="filter_filepattern" name="filter_filepattern"
              class="form-control border-end-0 border shadow-none mt-0" [(ngModel)]="ifsManagerSearchParams.filePattern"
              data-toggle="tooltip" data-placement="top" title="File pattern">
            <span class="input-group-text bg-transparent">
              <i class="bi bi-regex" title="Specificare il filtro sul nome dei file da elencare"></i>
            </span>
          </div>
        </div>
        <div class="col mt-4">
          <button class="btn btn-sm btn-primary" type="submit" title="Elenca file" [disabled]="!jobListFileForm.valid">
            Elenca
          </button>
        </div>

      </div>
    </form>
  </div>

  <div class="row border mt-3 justify-content-center" style="max-height: 700px; max-width: 70%; overflow-y: auto;">
    <table class="table table-sm small table-hover">
      <thead class="sticky-top">
        <tr class="justify-content-center">
          <th class="align-middle">
            <input type="checkbox" title="select/deselect all" (click)="toggleSelectDeselectAllRows()"
              [checked]="m_allRowsSelected">
          </th>
          <th class="align-middle text-center" style="width: 120px;">
            @if (isAlmostOneFileSelected) {
            <button class="btn btn-sm p-0 px-2" type="button" title="Find Sibank call in selected file"
              (click)="findSibankCall()">
              <i class="bi bi-binoculars"></i>
            </button>
            <button class="btn btn-sm p-0 px-2" type="button" title="Download selected file content"
              (click)="downloadFileListedFileContent()">
              <i class="bi bi-download"></i>
            </button>
            <button class="btn btn-sm p-0 px-2" type="button" title="Delete selected file"
              (click)="deleteAllSelectedFiles()">
              <i class="bi bi-trash"></i>
            </button>
            }
          </th>
          <th class="align-middle text-center">
            <span class="text fw-bold">
              File list [{{m_fileList().files.length}}] :
            </span>
          </th>
          <th class="align-middle" colspan="100%"></th>
        </tr>
        <tr>
          <th></th>
          <th class="align-middle text-center">
            <button class="btn btn-sm border-0 p-0" type="button" (click)="sort('type')">
              <span class="me-2 text fw-bold text-center">Type</span>
              @if (m_sort_mode===SortMode.Type_ASC) {<i class="bi bi-sort-alpha-down"></i>}
              @else if (m_sort_mode===SortMode.Type_DESC) {<i class="bi bi-sort-alpha-down-alt"></i>}
              @else { <i class="bi bi-arrow-down-up"></i> }
            </button>
          </th>
          <th>
            <button class="btn btn-sm border-0 p-0" type="button" (click)="sort('name')">
              <span class="me-2 text fw-bold">Name</span>
              @if (m_sort_mode===SortMode.Name_ASC) {<i class="bi bi-sort-alpha-down"></i>}
              @else if (m_sort_mode===SortMode.Name_DESC) {<i class="bi bi-sort-alpha-down-alt"></i>}
              @else { <i class="bi bi-arrow-down-up"></i> }
            </button>
          </th>
          <th>
            <button class="btn btn-sm border-0 p-0" type="button" (click)="sort('date')">
              <span class="me-2 text fw-bold">Date</span>
              @if (m_sort_mode===SortMode.Date_ASC) {<i class="bi bi-sort-alpha-down"></i>}
              @else if (m_sort_mode===SortMode.Date_DESC) {<i class="bi bi-sort-alpha-down-alt"></i>}
              @else { <i class="bi bi-arrow-down-up"></i> }
            </button>
          </th>
          <th>
            <button class="btn btn-sm border-0 p-0" type="button" (click)="sort('size')">
              <span class="me-2 text fw-bold">Size</span>
              @if (m_sort_mode===SortMode.Size_ASC) {<i class="bi bi-sort-alpha-down"></i>}
              @else if (m_sort_mode===SortMode.Size_DESC) {<i class="bi bi-sort-alpha-down-alt"></i>}
              @else { <i class="bi bi-arrow-down-up"></i> }
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let item of m_fileList().files; let i=index">
          <tr class="border-top">
            <td class="text-center">
              @if (item.type==='f') {
              <label>
                <input type="checkbox" title="select" (click)="selectRow(i,$event)" [value]="item.isSelected"
                  [checked]="item.isSelected">
              </label>
              }
            </td>
            <td>
              <p class="text-center m-0 me-4  small">{{item.type}}</p>
            </td>
            <td>
              @if(item.type==='f') {
              <ng-container>
                <p class="m-0 me-4 small">{{item.name}}</p>
              </ng-container>
              }
              @if(item.type==='d') {
              <ng-container>
                <button class="btn btn-sm m-0 p-0" type="button" title="Vai alla directory"
                  (click)="gotoDir(m_fileList().directory, item.name)">
                  <p class="m-0 p-0 text-body-primary small" style="color:blue;">{{item.name}}</p>
                </button>
              </ng-container>
              }
            </td>
            <td>
              <p class="m-0 me-4 small">{{item.changeDate}}</p>
            </td>
            <td>
              <p class="m-0 me-4 small">{{item.size}}</p>
            </td>
            <td class="p-0">
              @if(item.type==='f' && item.size>0) {
              @if (item.size<=21000000) { <button class="btn btn-sm" type="button" title="Visualizza file"
                (click)="showFileContent(m_fileList().directory, item.name, i)" data-bs-toggle="modal"
                data-bs-target="#showFileModal">
                <i class="bi bi-eye"></i>
                </button>
                }
                @else {
                <button class="btn btn-sm" type="button" title="Suddividi il file in parti di dimensione minore di 20MB"
                  (click)="split(m_fileList().directory, item.name, i)">
                  <i class="bi bi-hr"></i>
                </button>
                }
                }
            </td>

            <td class="p-0">
              @if(item.type==='f' && item.size>0) {
              <ng-container>
                <button class="btn btn-sm" type="button" title="Download file"
                  (click)="downloadFile(m_fileList().directory, item.name, i)">
                  <i class="bi bi-download"></i>
                </button>
              </ng-container>
              }
            </td>

            <td class="p-0">
              @if(item.type==='f') {
              <ng-container>
                @if (authService.isUserAdmin() ||
                item.name.toLocaleLowerCase().indexOf(authService.getLoggedInUsername()?.toLocaleLowerCase()!)>0) {
                <button class="btn btn-sm" type="button" title="Delete file"
                  (click)="deleteIFSFile(m_fileList().directory, item.name, i)">
                  <i class="bi bi-trash"></i>
                </button>
                }
              </ng-container>
              }
            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>

  <!-- </div> -->

  <!-- Show file in modal form -->
  <div class="modal fade" id="showFileModal" tabindex="-1" role="dialog" aria-labelledby="showFileModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="container">

          <div class="row align-items-center mt-3">
            <div class="col col-6 offset-3">
              <span>{{m_current_file.dir}}/{{m_current_file.file}} </span>
            </div>
            <div class="col col-2 offset-1 d-flex justify-content-end">
              <button type="button" class="btn" data-bs-dismiss="modal" title="Cancella file"
                (click)="deleteIFSFile(m_current_file.dir, m_current_file.file, m_current_file.idx)">
                <i class="bi bi-trash"></i>
              </button>
              <button type="button" class="btn " data-bs-dismiss="modal" title="Chiudi">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>

          <div class="row border-bottom border-1">
            @if(m_requestResponseRows().length>0)
            {
            <div class="col col-6 offset-3 d-flex justify-content-center border rounded border-info mb-1">
              <p class="m-1 me-2 p-0"><small>Request+Response nr: {{m_requestResponseRows().length}}</small></p>
              <button type="button" class="btn p-1 m-0" title="Prossima call" (click)="gotoNextCall()">
                <i class="bi bi-chevron-double-down"></i>
              </button>
              <button type="button" class="btn p-1 me-2" title="Call precedente" (click)="gotoPreviousCall()">
                <i class="bi bi-chevron-double-up"></i>
              </button>

              <button type="button" class="btn p-1 m-0" title="Prima call" (click)="gotoFirstCall()">
                <i class="bi bi-chevron-bar-up"></i>
              </button>
              <button type="button" class="btn p-1 me-2" title="Ultima call" (click)="gotoLastCall()">
                <i class="bi bi-chevron-bar-down"></i>
              </button>

              <!-- dropdown menu -->
              <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Jump to Request/Response nr.
              </button>
              <ul class="dropdown-menu overflow-auto" style="height: 500px;">
                @for (reqRes of m_requestResponseRows(); track $index; let reqResIdx=$index) {
                <li class="small"><a class="dropdown-item" (click)="gotoRowNr(reqResIdx)"><span><small>{{reqResIdx}}
                        [rid:{{m_requestResponseRows()[reqResIdx]}}]</small></span></a>
                </li>
                }
              </ul>
            </div>
            }

          </div>


        </div>

        <div class="modal-body small" tabindex="0">

          @for (item of m_file_content(); track $index; let joblogLineIdx=$index) {
          <div class="d-flex border-1 border-success mb-1 rounded"
            [class.border]="isISYCallInput(joblogLineIdx) || isISYCallOutput(joblogLineIdx)">
            <div class="row">
              @if (isXamMessage(joblogLineIdx)) {
              <div class="col border border-2 border-primary rounded px-1 ms-2" [id]="joblogLineIdx">
                <button class="btn btn-sm border-0 ms-1 mb-1 p-0 ps-1 pe-1 btn-primary" type="button">
                  XAM Message
                </button>
                <pre
                  class="m-0 text-wrap"><small class="fw-bold text-primary">[{{joblogLineIdx}}] {{item.lineContent}}</small></pre>
              </div>
              } @else {
              <div class="col">
                @if (item.lineContent.length > 330 && !item.lineContentShowFullLine) {
                <pre class="m-0 text-wrap"><small>[{{joblogLineIdx}}] {{item.lineContent.substring(0, 330)}}
                  <button class="btn btn-sm border-0 p-0 m-0 mb-1 small btn-light" type="button" (click)="toggleShowFullLine(item)" title="more...">
                    <small>...</small>
                  </button>
                </small></pre>
                } @else {
                <pre class="m-0 text-wrap"><small>[{{joblogLineIdx}}] {{item.lineContent}}</small></pre>
                }
              </div>
              }


              <!-- Gestionde dell'input - inizio -->
              @if (isISYCallInput(joblogLineIdx)) {
              <div class="row" [id]="joblogLineIdx-1">
                <div class="col-2">
                  <button class="btn btn-sm border-0 ms-1 mb-1 p-0 ps-1 pe-1 btn-primary" type="button"
                    (click)="showISYDsInput(joblogLineIdx)" title="Show ISY Call Input">
                    Request id: {{joblogLineIdx-1}}
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>

                @if(item.requests.length>0) {
                <div class="col-10  border border-2 border-primary rounded mb-1">
                  @for (programCallRequest of item.requests; track $callIdx; let $callIdx = $index) {
                  @if ($callIdx===0) {
                  <div class="row align-items-center mt-3">
                    <div class="col col-6 offset-3">
                      <h6 class="text-center mt-3">Messaggio di input [Message Size=~{{
                        getRealMessageSize(item.lineContent.length)}} -
                        Nr. call={{item.requests.length}}]</h6>
                    </div>
                    <div class="col col-2 offset-1 d-flex justify-content-end">
                      <button class="btn btn-sm border-0 ms-1 mb-1 p-0 ps-1 pe-1 btn-primary" type="button"
                        (click)="toggleShowInputDetails(item)" title="Show/Hide input details">
                        @if(showInputDetails(item)) {
                        <i class="bi bi-chevron-double-up"></i>
                        }
                        @else {
                        <i class="bi bi-chevron-double-down"></i>
                        }
                      </button>
                    </div>
                  </div>
                  }


                  <div class="row border rounded border-2 m-1">
                    <div class="col-12">
                      <table class="table table-sm mt-1 mb-1 caption-top">
                        <tr>
                          <td>
                            <span class="fw-bold small">Call nr</span>
                          </td>
                          <td>
                            <span class="fw-bold small">Program</span>
                          </td>
                          <td>
                            <span class="fw-bold small">Command</span>
                          </td>
                          <td>
                            <span class="fw-bold small">Ds Input</span>
                          </td>
                          <td>
                            <span class="fw-bold small">Ds Output</span>
                          </td>
                          <td>
                            <span class="fw-bold small">Times</span>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <span class="small text-primary fw-bold"> {{$callIdx}} </span>
                          </td>
                          <td>
                            <span class="small"> {{programCallRequest.program}} </span>
                          </td>
                          <td>
                            <span class="small"> {{programCallRequest.command}} </span>
                          </td>
                          <td>
                            <span class="small"> {{programCallRequest.dsin}} </span>
                          </td>
                          <td>
                            <span class="small"> {{programCallRequest.dsout}} </span>
                          </td>
                          <td>
                            <span class="small"> {{programCallRequest.times}} </span>
                          </td>
                        </tr>

                        @if(hasInput(programCallRequest)) {
                        @if(showInputDetails(item)) {
                        <tr>
                          <td colspan="6" class="text-center mb-2"> <span class="fw-bold small me-1">Ds Input</span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="6">
                            <table class="table table-sm">
                              <thead>
                                <tr>
                                  <th scope="col" class="small">Nome</th>
                                  <th scope="col" class="small">Valore</th>
                                  <th scope="col" class="small">Tipo</th>
                                  <th scope="col" class="small">Lunghezza</th>
                                  <th scope="col" class="small">Dec.</th>
                                  <th scope="col" class="small">Descrizione</th>
                                </tr>
                              </thead>
                              <tbody>
                                @for (fieldValue of programCallRequest.values; track $fldIdx; let $fldIdx = $index) {
                                <tr scope="row">
                                  <td class="small"><span class="small">{{fieldValue.name}} </span> </td>
                                  <td class="small"><span class="small text-wrap text-break">{{fieldValue.value}}</span>
                                  </td>
                                  <td class="small"><span class="small">{{fieldValue.type}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.length}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.scale}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.description}}</span></td>
                                </tr>
                                }
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        }
                        }
                      </table>

                    </div>
                  </div>

                  }
                </div>
                }
              </div>
              }
              <!-- Gestionde dell'input - fine -->

              <!-- Gestionde dell'output - inizio -->
              @if (isISYCallOutput(joblogLineIdx)) {
              <div class="row" [id]="joblogLineIdx-1">
                <div class="col-2">
                  <button class="btn btn-sm border-0 ms-1 mb-1 p-0 ps-1 pe-1 btn-info" type="button"
                    (click)="showISYDsOutput(joblogLineIdx)" title="Show ISY Call Output">
                    Response id: {{joblogLineIdx-1}}
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>

                @if(item.responses.length>0) {
                <div class="col-10 border border-2 border-info rounded mb-1">
                  <div class="row align-items-center mt-3">
                    <div class="col col-6 offset-3">

                      <h6 class="text-center">Messaggio di output [Message Size=~{{
                        getRealMessageSize(item.lineContent.length)}} - Nr.
                        call={{item.responses.length}}]</h6>
                    </div>
                    <div class="col col-2 offset-1 d-flex justify-content-end">

                      <button class="btn btn-sm border-0 ms-1 mb-1 btn-primary" type="button"
                        (click)="toggleShowOutputDetails(item)" title="Show/Hide output details">
                        @if(showOutputDetails(item)) {
                        <i class="bi bi-chevron-double-up"></i>
                        }
                        @else {
                        <i class="bi bi-chevron-double-down"></i>
                        }
                      </button>
                    </div>
                  </div>

                  @for (programCallResponse of item.responses; track $index; let $callIdx= $index) {
                  <div class="row border rounded border-2 m-1">
                    <div class="col-12">
                      <table class="table table-sm mt-1 mb-0">
                        <tr>
                          <td colspan="3">
                            <div class="row row-cols-3">
                              <div class="col">
                                <p class="fw-bold small">
                                  Call nr: <span class="text-primary"> {{$callIdx}} </span>
                                </p>
                              </div>
                              <div class="col">
                                <p class="fw-bold small">
                                  Return Code: <span class="fw-normal"> {{programCallResponse.result}} </span>
                                </p>
                              </div>
                              <div class="col">
                                <p class="fw-bold small">
                                  Ds Output: <span class="fw-normal"> {{programCallResponse.dsout}} </span>
                                </p>
                              </div>
                            </div>
                          </td>

                        </tr>

                        @if(programCallResponse.dsout.length>0 && programCallResponse.values.length>0) {
                        @if(showOutputDetails(item)) {
                        <tr>
                          <td colspan="3" class="text-center mb-2"> <span class="fw-bold small me-1">Ds Output</span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <table class="table table-sm">
                              <thead>
                                <tr>
                                  <th scope="col" class="small">Nome</th>
                                  <th scope="col" class="small">Valore</th>
                                  <th scope="col" class="small">Tipo</th>
                                  <th scope="col" class="small">Lunghezza</th>
                                  <th scope="col" class="small">Dec.</th>
                                  <th scope="col" class="small">Descrizione</th>
                                </tr>
                              </thead>
                              <tbody>
                                @for (fieldValue of programCallResponse.values; track fieldValue.name; let $fldIdx =
                                $index) {
                                <tr scope="row">
                                  <td class="small"><span class="small">{{fieldValue.name}} </span> </td>
                                  <td class="small"><span class="small text-wrap text-break">{{fieldValue.value}}</span>
                                  </td>
                                  <td class="small"><span class="small">{{fieldValue.type}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.length}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.scale}}</span></td>
                                  <td class="small"><span class="small">{{fieldValue.description}}</span></td>
                                </tr>
                                }
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        }
                        }

                      </table>
                    </div>
                  </div>
                  }

                </div>
                }
              </div>
              }
              <!-- Gestionde dell'output - fine -->

            </div>
          </div>
          }

        </div>


      </div>
    </div>
  </div>
</div>
