<nav class="navbar navbar-expand-lg sticky-top gf_back_color_green">
  <div class="container-fluid  gf_back_color_green">
    <a class="navbar-brand">
      @if (isUserLoggedIn()) {
      <span class="navbar-brand bi bi-person-circle text-white">
        {{loginInfo()}}
      </span>
      }
    </a>
    <div class="collapse navbar-collapse  gf_back_color_green" id="navbarNavDropdown">
      <ul class="navbar-nav">
        @if (isUserLoggedIn()) {
        <li class="nav-item"><a class="nav-link text-white" routerLink="object-manager">Oggetti</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="source-manager">Sorgenti</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="spool-manager">Spool</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="job-manager">Lavori attivi</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="netstat-job-info">Netstat Job Info</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/servizi-sibank">Servizi Sibank</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/library-list-manager">Lista librerie</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/zztrut-manager">ZZTRUT</a> </li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/session-manager">Dati Sessione</a> </li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/ifs-manager">Ifs Manager</a></li>

        <!-- <div class="vr border border-1 m-1"></div> -->

        <li class="nav-item"><a class="nav-link text-white" routerLink="/dsplog-manager">Display Log - Journal
            entries</a></li>

        <!-- <div class="vr border border-1 m-1"></div> -->

        <li class="nav-item dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear m-2"></i>
            <strong>Utilities</strong>
          </a>
          <ul class="dropdown-menu text-small gf_back_color_green" aria-labelledby="dropdownUser1">
            <li> <a class="dropdown-item small text-white" routerLink="/cdc-table-creation">DDL
                creation for CDC
                tables</a></li>
            <li><a class="dropdown-item small text-white" routerLink="/sql-script-manager">Oracle Sql script</a>
            </li>
            <li><a class="dropdown-item small text-white" (click)="update_abi_mapper()">Update Legacy Terminal
                Abi Mapper</a></li>
          </ul>
        </li>

        <!-- <div class="vr border border-1 m-1"></div> -->

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/logout" (click)="logout()" href="#">Logout</a>
        </li>

        }
        @else {
        <li class="nav-item">
          <a class="nav-link text-white bi bi-person-circle icon-link" routerLink="/login">Login</a>
        </li>
        }
      </ul>


      @if (isUserLoggedIn()) {

      }
    </div>
  </div>
</nav>


<div class="row p-1">
  <div class="toast-container position-fixed position-fixed bottom-0 end-0 p-3">

    <div id="my_toast" #my_toast class="toast" role="status" aria-live="polite" aria-atomic="true"
      (hidden.bs.toast)="deleteAllToastMessages()">
      <div class="toast-header">
        <svg aria-hidden="true" class="bd-placeholder-img rounded me-2" height="20" width="20">
          <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="me-auto">Messaggi:</strong>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <ul>
          @for (item of message_service.toasts(); track $index) {
          <li> {{item.message}} </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="col-10 justify-content-end align-items-center">
    <router-outlet></router-outlet>
  </div>

</div>
<app-spinner></app-spinner>
